# Docker
.docker/mysql/data/*
!.docker/mysql/data/.gitkeep

# Dependencies
**/node_modules
**/vendor
composer.lock
package-lock.json

# Environment files
**/.env
**/.env.*
!**/.env.example

# Build files
**/dist
**/build
public/hot
public/storage
storage/*.key

# IDE & Editor files
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
phpunit.xml
.phpunit.result.cache
coverage/
